$hero-full-screen-bg: url('https://unsplash.it/1000/700?image=573') center center no-repeat;
$hero-full-screen-bg-size: cover;
$hero-full-screen-text-color: $white;

.hero-base {
  height: 80vh;
  display:flex;
  align-items: center;
  background: $hero-full-screen-bg;
  background-size: $hero-full-screen-bg-size;
}

  .hero-content {
    color: $hero-full-screen-text-color;
    margin: 1rem;
    text-align: center;
  }
